
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
  <%= link_to t(:localize_app), '#', class:"pure-menu-heading" %>
    <ul>

    <% li_en = "<li class='pure-menu-selected'>" %>
    <% li_fr = "<li>" %>
    <% if @locale == :fr %>
    <%   li_fr = li_en %>
    <%   li_en = "<li>" %>
    <% end %>
    <%= li_en.html_safe %>
    <%= link_to t(:en_lang), {controller: 'bubbles', locale: 'en'} %>
    <%= "</li>".html_safe %>
    <%= li_fr.html_safe %>
    <%= link_to t(:fr_lang), {controller: 'bubbles', locale: 'fr'} %>
    <%= "</li>".html_safe %>
    </ul>
  </div>
  <div class="pure-g">
  <div class="pure-u-1-5">
  </div>
  <div class="pure-u-3-5">
      <h1><%= t :bubbles_display %></h1>
    <p><%= link_to t(:want_new_one), {controller: 'bubbles', action: 'new'}, class: "pure-button pure-button-primary" %></p>

    <hr/>
    <%= params.inspect %>
    <%= @locale.inspect %>

  </div>
  <div class="pure-u-1-5">
  </div>
</div>
