.pure-g
  .pure-u-1-5
  .pure-u-3-5
    = error_message_for(@bubble)
    %h2= t '.bubbles_display', count: @bubbles.size
    %table.pure-table.pure-table-bordered
      %thead
        %tr
          %th #
          %th= t 'activerecord.attributes.bubble.name'
          %th= t 'activerecord.attributes.bubble.feeling'
      %tbody
        - @bubbles.each do |bubble|
          %tr
            %th= status_tag(bubble.id,{:text => bubble.id.to_s})
            %th= bubble.name
            %th= bubble.feeling
    %p= link_to t('.want_new_one'), new_bubble_path, class: "pure-button pure-button-primary"
  .pure-u-1-5
