.pure-menu.pure-menu-open.pure-menu-horizontal
  = link_to t('.localize_app'), '#', class:"pure-menu-heading"
  = l Time.now, :format => :long
  %ul
    %li{:class => set_selected_l[:en_c]}
      = link_to t('.en_lang'), {locale: 'en'}
    %li{:class => set_selected_l[:fr_c]}
      = link_to t('.fr_lang'), {locale: 'fr'}
.pure-g
  .pure-u-1-5
  .pure-u-3-5.small-box-shadow
    = form_for :bubble, :html => {:class => "pure-form pure-form-aligned"} do |f|
      %fieldset
        %legend= t '.new_bubble'
        .pure-control-group
        /   = f.label :name
        = f.text_field :name, placeholder: "Bubbly ?"
        .pure-control-group
        / = f.label :feeling
        = f.text_area :feeling
        .pure-controls
          = f.submit t('.submit_new_one'), :class => "pure-button pure-button-primary"
        .pure-controls
          = link_to t('.back_to_index'), {controller: "bubbles", action: "index"}, class: "pure-button pure-button-primary"
    %hr/
    = params.inspect

